<%= form_for Post.new do |f| %>

  <div class="text_area"><%= f.text_area :body, class: "post_form", autofocus: true, placeholder: "Make a Post ...", :size=> "44x6" %></div> <br />
  <div class="submitBtn_div"><%= f.submit class: "submitBtn", cursor: "pointer" %></div>
<% end %>