<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Welcome to the Fellow Shop!</h1>	
	<p>
		<div><b>Who are we?</b></div><br>
		<div>We're a group of NYDA Graduates looking to connect with fellow classmates for projects and life lessons!</div>
</body>
</html>