<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body class="homepage">
	<div class="div-header">
		<p class="p-header">Welcome to the Fellow Shop!</p>
	</div>
	
	<div class="who-are"><b>So, who are we?</b><br><br>
	We're a group of NYCDA Graduates looking to connect with fellow classmates for projects and life lessons!

	</div>
</body>
</html>