<div class="container">
<h1>All Tags</h1>
<ul>
  <% @tags.each do |tag| %>
  <li><%= link_to tag.name, tag_path(tag) %></li>
      <%= link_to "X", tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"}%><br>
    <% end %>
</ul>

<%= link_to "<<Back to Jobs List", jobs_path%>
</div>
