/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.log_in_style {
  color:white;
  text-decoration: none;
}



* {
	/*font-family: sans-serif;*/
	font-family: 'Lora', serif;
}

.logged_in {
	color: white;
	font-size: 1.25vw;
	text-align: right;
	padding-right: 2%;
  text-decoration: none;

}

.log_in_box {
	height: 300px;
	padding-top: 150px;
	width: 80%;
    margin: 0 auto;
	border-radius: 25px;
}



/*Log in CSS*/
.log_in {
	margin-top: 20%;
	color: white;
	font-size: 1em;
	text-align: center;
	background-color: rgba(1,1,1,  .5);

	width: 30%;
    margin: 0 auto;
	border-radius: 25px;
}


.sign_up_box {
	height: 400px;
	padding-top: 150px;
	width: 80%;
    margin: 0 auto;
	border-radius: 25px;
}



/*Log in CSS*/
.sign_up {
	margin-top: 25%;
	color: white;
	font-size: 1em;
	text-align: center;
	background-color: rgba(1,1,1,  .5);

	width: 30%;
  margin: 0 auto;
	border-radius: 25px;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style: none;
    margin:0;
    padding:0;
    text-align: center;
}
.nav li{
    display:inline;
    width:30%;
    margin:9%;
    padding:0;
    font-size: 1.5vw;

}
.nav a{
    display:inline-block;
    padding:2px;
	  font-family: 'Lora', serif;
	  font-weight: 200;
}

.container {
	background-color: rgba(255,255,255,  .75);
	color: black;
	width: 72%;
	margin-left: 12%;
	margin-right: 5%;
	padding-bottom: 1%;
	margin-top: 1%;
	padding-top: 1%;
	padding-left: 4%;
	padding-right: 1%;
	height: 100%;
	min-height: 500px;
}

.container1{
	background-color: rgba(255,255,255,  .75);
	color: black;
	width: 50%;
	margin:0 auto;
	padding-bottom: 1%;
	margin-top: 2%;
	padding-top: 2.2%;
	height:6.5em;
}

.title{
	text-align: center;
}

.form{
	background-color: rgba(255,255,255,  .75);
	color: black;
	width: 30%;
	margin-left: 4%;
	margin-top: 4%;
	padding-top: 2.2%;
	height:20em;
	float:left;
}

.text_area{
	margin-left:2em;
}

.post_form {
  width: 350px;
  height: 240px;
  border-radius: 5px;
  padding: 5px;
  font-size:16px;
  border: 1px solid lightgrey;
}

.submitBtn_div{
	margin-left: 32%;
}
.submitBtn {
  font-size: 20px;
  border: 1px solid aquamarine;
  color: white;
  width:45%;
  border-radius: 5px;
  text-align: center;
}

.feed{
	background-color: rgba(255,255,255,  .75);
	color: black;
	width: 58%;
	margin-left: 4%;
	margin-top: 4%;
	padding-top: 2.2%;
	height:auto;
	min-height: 20em;
	float:left;
}

#feed_title{
	width:95%;
	height:5em;
	text-align: center;
	margin:0 auto;
	padding-top:.25em;
	background-color: white;
	border-radius: 5px;
}	

.card{
	width:95%;
	height:auto;
	background-color:aquamarine;
	margin-top:2em;
	margin-left: 1.5em;
	border-radius: 5px;
	padding-top:2em;
}

.post{
	width:53%;
	height:auto;
	margin-left: 2em;
}

.comment_form{
  width: 450px;
  height: 75px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 14px;
  margin-left:20%;
  margin-top: 2em;
}

.commentBtn{
  font-size: 12px;
  border: 1px solid aquamarine;
  color: white;
  width:17%;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 2em;
}

.time{
	text-align: right;
	font-size: 12px;
	color:gray;
	padding-right: 1em;
}

