// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.p-header {
	color: white;
	font-size: 100%;
	align-text: left;
	z-index: 3;
	font-size: 3.8vw;
	font-weight: 600;


}

.div-header {
	// background-color: rgba(0,0,0,  .5);

	z-index: -1;
	margin-top: 0%;
	margin-left: 8%;
	padding-left: 2%;
	width: 55%;
	position: fixed;
	border-radius: 25px;
	margin-bottom: 5%;
	display: inline;
}

.who-are {
	// background-color: rgba(0,0,0,  .5);

	z-index: -1;
	color: white;
	margin-top: 12%;
	margin-left: 13%;
	padding-left: 2%;
	width: 56%;
	border-radius: 25px;
	font-size: 2.5vw;
}


div {
	// border: 1px solid black;
}

/* unvisited link */
a:link {
    text-decoration: none;
    color: white;
}

/* visited link */
a:visited {
    text-decoration: none;
        color: white;	
}

/* mouse over link */
a:hover {
    text-decoration: underline;
}

/* selected link */
a:active {
    text-decoration: underline;
}

body {
    background-image: url("ny-back2.jpg");   
   color: white;
  
}

body.homepage {
    background-image: url("ny-back2.jpg");
    // background-size: 80%;
    // background-attachment: fixed;
    // background-position: 40% 40%; 
    background-repeat: no-repeat;
    background-color: #FFFFFF;
  
}



