// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.p-header {
	color: white;
	font-size: 100%;
	align-text: left;
	z-index: 3;
	font-size: 2.5vw;
}

.div-header {
	background-color: black;
	opacity: .7;
	z-index: -1;
	color: white;
	margin-top: 10px;
	margin-left: 8%;
	padding-left: 2%;
	width: 35%;
	position: fixed;
	border-radius: 25px;
	margin-bottom: 200px;
	display: inline;
}

.who-are {
	background-color: black;
	opacity: .7;
	z-index: -1;
	color: white;
	margin-top: 30%;
	margin-left: 10%;
	padding-left: 2%;
	width: 35%;
	border-radius: 25px;
	font-size: 1.5vw;
}


div {
	border: 1px solid black;
}

/* unvisited link */
a:link {
    text-decoration: none;
    color: black;
}

/* visited link */
a:visited {
    text-decoration: none;
        color: black;	
}

/* mouse over link */
a:hover {
    text-decoration: underline;
}

/* selected link */
a:active {
    text-decoration: underline;
}

body {
   
    background-size: 80%;
    background-attachment: fixed;
    background-position: 40% 40%; 
    background-repeat: no-repeat;
    background-color: white;
    color: black;
  
}

body.homepage {
    background-image: url("NYCDA-logo-large-web3.png");
    background-size: 80%;
    background-attachment: fixed;
    background-position: 40% 40%; 
    background-repeat: no-repeat;
    background-color: #FFFFFF;
  
}



