// Place all the styles related to the Topic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title{
	text-align:center;
	color:black;
}

#main{
	background-color: white;
	width:71%;
	//height:36em;
	margin:0 auto;
	padding-bottom: 3%;
	padding-left: 1%;
	min-width: 240px;

}

.div1{
	width:80%;
//	height:36em;
	margin:0 auto;
	display: inline;
	background-color:white;
	margin-left: 1%;
	
}


.div{
	width:190px;
	height:190px;
	border:3px solid black;
	float:left;
	margin-left: 2%;
	margin-top:2em;
	display: inline;
}

// div img {
// 	padding-top:3%;
//    width: 90%;
//    height: 90%;
// }

